[submodule "dataset_generator/CompetitionTemplate"]
	path = dataset_generator/CompetitionTemplate
	url = https://github.com/RoboCupAtHome/CompetitionTemplate.git

[submodule "dataset_generator/CommandGenerator"]
	path = dataset_generator/CommandGenerator
	url = https://github.com/RoboCupAtHome/CommandGenerator.git